version: '3.9'

services:
  postgres:
    image: postgres:16
    container_name: onboarding-db
    restart: always
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin
      POSTGRES_DB: onboarding
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
